absl==0.0
diffusers==0.37.0
einops==0.8.2
flax==0.10.4
huggingface_hub==1.7.1
jax==0.6.2
numpy==2.4.4
optax==0.2.8
Pillow==12.2.0
PyYAML==6.0.3
Requests==2.33.1
torch==2.10.0+cu128
torchvision==0.25.0+cu128
tqdm==4.67.3
transformers==5.3.0
